.translations
  %h4
    = t('description')
  - @unreviewed_translations.each do |translation|
    .translation
      .translation-header
        = locale_to_name(translation.locale)
      %div{ class: "description_#{translation.locale}" }
        - if @place.has_history?(translation) || !translation.reviewed
          = raw(translation.description)
        - else
          no recent changes
      .version-browser
        = provide_translation_version_browsing(translation)
