%tr
  %td.review_table_headline{ colspan: 2 }
    %h4
      = t('description')
- @place.translations.each do |translation|
  %tr
    %td.review_table_locale_header{ colspan: 2 }
      %strong
        = "#{translation.locale}"
  %tr
    %td{ class: "last_reviewed_version-description_#{translation.locale}" }
      %b
      - if @place.last_reviewed_version_of(translation)
        = raw(translation.description)

    %td{ class: "recent_unreviewed_version-description_#{translation.locale}" }
      - if @place.has_history?(translation)
        = raw(translation.description)
  %tr
    %td
    %td.recent_unreviewed_version-history
      = provide_translation_version_browsing(translation)
