.translations
  %h4
    = t('description')
  - @unreviewed_translations.each do |translation|
    .translation
      .translation-header
        = locale_to_name(translation.locale)
        = "(reviewed: #{translation.reviewed}, auto_translated: #{translation.auto_translated})"
      %div{ class: "description_#{translation.locale}" }
        - if !translation.reviewed
          = raw(translation.description)
        - else
          no recent changes
      .version-browser
        = provide_translation_version_browsing(translation)
