.container
  .row
    .col-xs-6
      = render 'last_reviewed_place'
    .col-xs-6
      = render 'place_versions'
  .row
    .text-center.margin-below
      = form_for @place, url: { action: :update_reviewed, params: { place_version: @current_version_id } } do |f|
        = f.submit 'submit', class: 'btn btn-primary btn-success place-form-button'
      = link_to t('back'), action_name == 'review' ? places_path : root_path, class: 'btn btn-primary btn-danger place-form-button'
